#root {
  background-color: black;
  color: ivory;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
  color: ivory;
}

.nav-button {
  background-color: ivory;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.nav-button:hover {
  background-color: darkred;
  color: ivory;
  transform: scale(1.1);
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

@media (max-width: 1000px) {
  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .articles-grid {
    grid-template-columns: 1fr;
  }
}

.article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid ivory;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  max-width: 500px;
  margin: 0 auto;
  background-color: black;
}

.article-card:hover {
  transform: scale(1.03);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.article-card-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.article-card-content {
  padding: 16px;
}

.article-card-title {
  font-size: 0.75em;
  margin: 0 0 8px;
  color: ivory;
}

.article-card-body {
  font-size: 0.6em;
  color: ivory;
}

.single-article-section {
  padding: 16px;
}

.single-article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid ivory;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 500px;
  margin: 0 auto;
  background-color: black;
}

.single-article-title {
  font-size: 0.75em;
  margin: 16px 0;
  color: ivory;
}

.single-article-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.single-article-content {
  padding: 16px;
}

.single-article-body {
  font-size: 0.6em;
  color: ivory;
}

.comment-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-right: 2.5rem;
  background-color: black;
}

.comment-card:hover {
  transform: scale(1.02);
}

.comment-card-content {
  padding: 16px;
}

.comment-card-title,
.comment-card-body,
.comment-card-date {
  margin: 0 auto;
}

.comment-card-title {
  font-size: 0.75em;
  color: ivory;
  margin-bottom: 8px;
}

.comment-card-body {
  font-size: 0.6em;
  color: ivory;
  margin-bottom: 16px;
}

.comment-card-date {
  font-size: 0.5em;
  color: Ivory;
}

.article-votes {
  display: flex;
  align-items: center;
}

.article-votes button {
  font-size: 1rem;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: black;
  border-radius: 4px;
}

.article-votes button:hover {
  transform: scale(1.3);
  transition: background-color 0.5s ease, transform 0.4s ease;
}

.article-votes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.article-votes .up-vote,
.article-votes .down-vote,
.article-votes .vote-count {
  margin: 0 10px;
}

.vote-error {
  color: red;
}